body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
  }
  
  .quiz-container {
    background-color: #54c3ef;
    color: #2b3252;
    padding: 20px;
    flex: 1;
  }
  
  .score-container {
    background-color: #fad744;
    color: #2b3252;
    padding: 20px;
    flex: 1;
    position: sticky;
    top: 0;
  }
  
  h1, h2 {
    font-family: 'Caveat Brush', cursive;
  }
  
  button {
    margin-top: 10px;
  }
  
  #questions-container {
    margin-top: 20px;
  }
  
  .question {
    margin-bottom: 10px;
  }
  
  .options label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  #score {
    font-size: 24px;
    font-weight: bold;
  }